.align-items-start {
  align-items: flex-start !important;
}

.stat-col {
  flex-direction: column !important;
  justify-content: space-evenly;
  gap: 10px;
  width: auto !important;
  padding: 10px 0px;
}

.history-chip {
  color: #ffffff;
  background-image: radial-gradient(#ffffff00, #66666630);
  border-radius: 9px;
  padding: 8px;
  width: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dayTime {
  font-size: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.day {
  font-size: 17px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
}

.icon-temp {
  padding: 2px 3px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-temp .temp {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.icon-temp .temp .min-temp {
  font-size: 15px;
}
