.search-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.locationList {
  position: absolute;
  z-index: 10;
  top: 40px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10px 0px 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #000000a6;
}

.locationList > p {
  cursor: pointer;
  width: 100%;
  color: #ffffff;
  padding: 10px 0 10px 10px;
  border-bottom: 0.1px solid #ffffff81;
}

.active-searchBox {
  background-color: #000000a6 !important;
  border-bottom: 0.1px solid #ffffff81 !important;
  border-radius: 0 !important;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}
