@import "@/index.css";

.bg-container {
  width: 100vw;
  height: 100vh;
}

.bg-container .bg-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bg-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    rgba(var(--black-color), 0) 0%,
    rgba(var(--black-color), 0.3) 7%,
    rgba(var(--black-color), 0.36) 100%
  );
}
