@import "@/index.css";

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .weather {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 6vh;
}

.weather .weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.weather .weather-container .current-n-glimpse {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather .weather-container .current-n-glimpse .search-container {
  width: 100%;
  height: 20%;
}

.weather .weather-container .current-n-glimpse .greeting-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weather .weather-container .current-n-glimpse .greeting-container .greeting {
  width: 24%;
  height: 100%;
}

.weather .weather-container .history {
  width: 100%;
  height: 50%;
}
