.temp-stat {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.temp-stat p {
  font-weight: 600;
  font-size: 15px;
}
