.stat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.temp-stat {
  padding: 4px 0px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.temp-stat p {
  font-weight: 600;
  font-size: 15px;
}

.bottom-border-1-white {
  border-bottom: 1px solid white;
}
