.history {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.history .records {
  height: 100%;
  width: 100%;
  gap: 15px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnWrapper {
  position: relative;
}

.navBtn {
  cursor: pointer;
  border-radius: 9px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 70px;
  background-color: #00000030;
}

.prev {
  left: -10px;
}

.next {
  right: -10px;
}
