.search-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.searchbox {
  background-color: #00000040;
  color: white;
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border-radius: 10em;
  height: 40%;
  width: 40%;
}

.searchbox:focus {
  outline: 0;
}

.searchbox::-webkit-search-cancel-button {
  appearance: none;
}

.clear {
  color: #ffffff70;
  background-color: #00000000;
  border: 0;
  width: min-content;
  height: min-content;
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  right: 3%;
  top: 3px;
  transform: rotate(45deg);
}

.searchbox::placeholder {
  font-weight: 550;
}
