:root {
  --primary-color: 255, 255, 255;
  --black-color: 0, 0, 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Temprary fix for vertical scroll when height set to 100vh. */
}

#root {
  width: 100%;
  height: 100%;
}
