:root {
  --primary-color: 255, 255, 255;
  --black-color: 0, 0, 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

.card {
  background-color: red;
  width: 33vh;
  height: 35vh;
  padding: 13px 7px;
  border-radius: 9%;
}
