.greeting {
  width: 24%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wishing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;
  height: 100%;
}

.wishing p {
  font-size: 3em;
}
